/* Troubleshooting */

/* * {
    outline: 1px solid red;
} */


/* Layout */

:root {
    --page-header-height: 80px;
    --app-heading-height: 80px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    overflow-y: hidden;
}

body {
    /* Needed for overflow: auto to work below */
    display: grid;
    grid-template-rows: min-content 1fr;
    /* --end-- */
}

header {
    height: var(--page-header-height);
    padding: 20px;
}

footer {
    height: 50px;

    /* Flex container */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.app {
    min-height: 0;

    /* Grid container */
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "lists items";
}

.lists-area {
    /* Grid item */
    grid-area: lists;
    min-height: 0; /* Don't overflow assigned grid area when content is large */

    /* Grid container */
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: var(--app-heading-height) 1fr;
    grid-template-areas:
        "heading menu"
        "list list";
}

.lists-area .heading {
    /* Grid item */
    grid-area: heading;
}

.lists-area .menu {
    /* Grid item */
    grid-area: menu;

    /* Flex container (for centering) */
    display: flex;
    justify-content: center;
    align-items: center;
}

.lists-area .lists-list {
    /* Grid item */
    grid-area: list;

    /* Flex container */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;

    height: 100%;
    overflow-y: auto;
}

.items-area {
    /* Grid item */
    grid-area: items;
    min-height: 0; /* Don't overflow assigned grid area when content is large */

    /* Grid container */
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: var(--app-heading-height) 1fr;
    grid-template-areas:
        "heading menu"
        "list list";
}

.items-area .heading {
    /* Grid item */
    grid-area: heading;
}

.items-area .menu {
    /* Grid item */
    grid-area: menu;

    /* Flex container (for centering) */
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-area .items-list {
    /* Grid item */
    grid-area: list;

    /* Grid container */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 300px));
    grid-auto-rows: minmax(min-content, max-content);
    gap: 16px;

    height: 100%;
    overflow-y: auto;
}

.item-card {
    /* Flex container */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.item-card .description {
    height: 4rem;
    overflow-y: auto;
    word-break: break-word;
    border: 1px solid var(--theme-secondary-dark);
    border-radius: 2px;
}

.list-card {
    /* Flex container (for alignment) */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

dialog form label {
    display: block;
}

.dialog-heading {
    margin-bottom: 1.5rem;
}

dialog form > * + * {
    margin-top: 20px;
}

dialog form fieldset label {
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
}

button {
    /* Flex container (for centering) */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Style */

:root {
    --theme-primary: #faedcd;
    --theme-primary-shadow: #bbb198;
    --theme-accent: #e9edc9;
    --theme-accent-dark: #ccd5ae;
    --theme-secondary: #fefae0;
    --theme-secondary-dark: #d4a373;
    --dialog-backdrop: rgba(212, 163, 115, .7);
    --unselected-bg: #faefd2;
    --dark-gray: rgb(71, 70, 70);
}

body { 
    color: var(--dark-gray);
    font-family: sans-serif;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-variation-settings: 
        "wdth" 87.5;
}

header {
    background-color: var(--theme-accent-dark);
}

footer {
    background-color: var(--theme-accent-dark);
}

.heading {
    background-color: var(--theme-primary);
    padding-left: 20px;

    /* Flex container (for centering) */
    display: flex;
    align-items: center;
}

.lists-area {
    border: 2px solid var(--theme-primary-shadow);
}

.menu {
    background-color: var(--theme-primary);
    padding-right: 20px;
}

.menu button {
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px var(--theme-primary-shadow);
}

button {
    border: 1px solid var(--dark-gray);
    background-color: white;
    border-radius: 5px;
}

.lists-list {
    background-color: var(--theme-secondary);
    padding: 10px;
}

.list-card {
    padding: 10px 20px;
    background-color: var(--unselected-bg);
    border-radius: 5px;
    border: 1px solid var(--theme-secondary-dark);
    box-shadow: 5px 5px 5px var(--theme-secondary-dark);
}

.list-card.selected {
    background-color: white;
    box-shadow: 2px 2px 2px var(--theme-secondary-dark);
}

.list-card button {
    box-shadow: 2px 2px 2px var(--theme-secondary-dark);
}

.list-card.selected button {
    box-shadow: 2px 2px 2px var(--theme-primary-shadow);
}

.items-area {
    border: 2px solid var(--theme-primary-shadow);
}

.items-list {
    background-color: var(--theme-secondary);
    padding: 10px;
}

.item-card {
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--theme-secondary-dark);
    box-shadow: 5px 5px 5px var(--theme-secondary-dark);
}

.item-card .title {
    /* Flex container (for centering) */
    display: flex;
    align-items: center;
    gap: 8px;
}

.item-card button {
    box-shadow: 2px 2px 2px var(--theme-primary-shadow);
}

button .iconify { /* SVG icon */
    height: 20px;
    width: 20px;
}

button .iconify * {  /* Strokes inside **button** SVGs */
    color: var(--dark-gray);
}

.iconify * { /* Strokes inside **non-button** SVGs */
    color: white;
}

.due .date {
    font-weight: bolder;
    font-size: 1.1rem;
    color: rgb(168, 35, 35);
}

.item-card .title .iconify {
    border-radius: 100%;
}

dialog {
    /* Note: Can't make a dialog a flex container. It bugs out. */

    background-color: var(--theme-secondary);
    border: 2px solid var(--theme-secondary-dark);
    border-radius: 5px;
    min-width: 200px;
}

dialog form > div {
    width: 100%;
}

dialog form > div > input {
    width: 100%;
}

dialog form > fieldset {
    margin-left: 0;
    margin-right: 0;
}

dialog form textarea {
    width: 100%;
}

dialog::backdrop {
    background-color: var(--dialog-backdrop);
}

dialog button {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: white;
    border: solid 1px var(--dark-gray);
    box-shadow: 2px 2px 2px var(--theme-secondary-dark);
}

dialog .buttons {
    /* Flex container */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

dialog fieldset {
    position: relative;
    margin-top: 40px;
    padding: 10px;
}

dialog fieldset legend {
    position: absolute;
    left: -3px;
    top: -1.3rem;
}